# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Configurações pessoais do VS Code (opcional)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json